@model Projeto.Alfa12.Models.Professor
@{
    ViewData["Nome"] = "Detalhes";
}

<h4 class="subtitle"><strong>@Html.DisplayFor(model => model.FullName)</strong> </h4>
<hr />
<div class="columns">
    <div class="column is-one-third has-text-right">
        <dl class="dl-horizontal">
            <dt>
                <strong>    @Html.DisplayNameFor(model => model.Autenticado)</strong>
</dt>
            <dt>
                <strong>   @Html.DisplayNameFor(model => model.Email)</strong>
</dt>
            <dt>
                <strong>  @Html.DisplayNameFor(model => model.UserName)</strong>
</dt>
            <dt>
                <strong>   @Html.DisplayNameFor(model => model.Ativo)</strong>
</dt>
            <dt>
                <strong>  @Html.DisplayNameFor(model => model.DataNascimento)</strong>
</dt>
        </dl>
    </div>
    <div class="column ">
        <dl class="dl-horizontal">

            <dd>
                @Html.DisplayFor(model => model.Autenticado)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
           
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
        </dl>
        </div>
    </div>

            <div>
                <a asp-action="Editar" asp-route-id="@Model.Id" class="button is-primary">Edit</a> 
                <a asp-action="Index" class="button is-danger">Voltar</a>
            </div>
