@model LogListViewModel


<h2 class="title">List</h2>

<a class="btn btn-block
@("Create" == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
   asp-action="List"
   asp-controller="LogUsuarios"
   asp-route-category="Create"
   asp-route-productPage="1">
    Create
</a>
<a class="btn btn-block
@("Update" == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
   asp-action="List"
   asp-controller="Logusuarios"
   asp-route-category="Update"
   asp-route-productPage="1">
    Update
</a>

<form class="navbar-form navbar-left">
    Nome : <div class="input-group">
        <input type="text" class="form-control" placeholder="Pesquisar" name="SearchString">
        <div class="input-group-btn">
            <button class="button is-primary" type="submit" value="Filter">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table is-striped is-hoverable is-fullwidth ">
    <thead>
        <tr>
            <th>
                Ação
            </th>
            <th>
                Data
            </th>
            <th>
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Logs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Acao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.FullName)
                </td>

            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>
