@model IEnumerable<Projeto.Alfa12.Models.Modulo>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Seus Módulos</h2>

<p>
    <a asp-action="Create" class="button is-success">Criar novo módulo</a>
</p>
<table class="table is-striped is-hoverable is-fullwidth ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th>
                @Html.DisplayName("Professor")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turma.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turma.Professor.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>  |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
