@model Turma


   <tr>
            <td>

                @Model.Nome
            </td>
            <td>
                @Model.DataCriacao
            </td>
            <td>
                @Model.Descricao
            </td>
            <td>
                @Model.AreaConhecimento
            </td>
            <td>
                @Model.ChaveAcesso
            </td>
            <td>
                @Model.MaxPonto
            </td>
            <td>
                @{
                @Model.Professor?.FullName ;
                }
            </td>
            <td class="buttons">

                <a class="button is-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
                <a class="button is-info" asp-action="Details" asp-route-id="@Model.Id">Detalhes</a> 
                <a class="button is-danger" asp-action="Delete" asp-route-id="@Model.Id">Deletar</a> 
                <a class="button is-link" asp-action="AddAluno" asp-route-id="@Model.Id">Adicionar Alunos</a>

            </td>
        </tr>