@model Projeto.Alfa12.Models.Turma


@{
    ViewData["Nome"] = "Detalhes";
}

<h4 class="subtitle"><strong>@Html.DisplayFor(model => model.Nome)</strong> </h4>
<hr />
<div class="columns">
    <div class="column is-one-third has-text-right">
        <dl class="dl-horizontal">
            <dt>
                <strong>@Html.DisplayNameFor(model => model.DataCriacao)   </strong>
            </dt>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Descricao)</strong>
            </dt>
            <dt>
                <strong>  @Html.DisplayNameFor(model => model.AreaConhecimento)</strong>
            </dt>
            <dt>
                <strong> @Html.DisplayNameFor(model => model.ChaveAcesso)</strong>
            </dt>
            <dt>
                <strong>  @Html.DisplayNameFor(model => model.MaxPonto)</strong>
            </dt>
            <dt>
                <strong> @Html.DisplayNameFor(model => model.Professor)</strong>
            </dt>
        </dl>


    </div>
    <div class="column">
        <dl class="dl-horizontal">

            <dd>
                @Html.DisplayFor(model => model.DataCriacao)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.AreaConhecimento)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.ChaveAcesso)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.MaxPonto)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Professor.FullName)
            </dd>
        </dl>
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="button is-primary">Editar</a>

</div>
