@model Turma

@{
    ViewData["Nome"] = "Index";
    ViewData["Turma"] = Model.Id;
}
<p class="title has-text-centered">@Html.DisplayFor(model => model.Nome)</p>
<section class="section">


    <div class="bd-content">
        <!--var item in Model.Modulos.Select((x, i) => new { Value = x, Index = i }))-->
        @for (var i = 0; i < Model.Modulos.Count; i = i + 2)
        {

            <div class=" tile is-ancestor has-text-centered  ">
                <div class="tile is-parent  is-6">
                    <article class="tile is-child box">
                        <p class="title">  @Html.DisplayFor(modelItem => Model.Modulos[i].Nome)</p>
                        <p class="subtitle">@Html.DisplayFor(modelItem => Model.Modulos[i].Descricao)</p>
      
                        <footer class="card-footer">

                            <a class="card-footer-item button is-info" asp-controller="Modulos" asp-action="Visibilidade" asp-route-id="@Model.Modulos[i].Id" asp-route-turma="@Model.Id">
                            @if (Model.Modulos[i].Visivel.Equals(true)) { <p>Ocultar</p> } else { <p>Exibir</p> } </a>
                           
                        <a class="card-footer-item button is-link" asp-controller="Modulos" asp-action="RespProfessor" asp-route-id="@Model.Modulos[i].Id">Acessar Modulo</a>
                        <a class="card-footer-item button is-info" asp-controller="Modulos" asp-action="Details" asp-route-id="@Model.Modulos[i ].Id">Detalhes</a>

                          

                        </footer>

                    </article>
                </div>
                @if (i + 1 < Model.Modulos.Count)
                {
                    <div class="tile is-parent  is-6">
                        <article class="tile is-child box">
                            <p class="title">  @Html.DisplayFor(modelItem => Model.Modulos[i + 1].Nome)</p>
                            <p class="subtitle">@Html.DisplayFor(modelItem => Model.Modulos[i + 1].Descricao)</p>
                           

                            <footer class="card-footer">
                                <a class="card-footer-item button is-info" asp-controller="Modulos" asp-action="Visibilidade" asp-route-id="@Model.Modulos[i + 1].Id">
                                    @if (Model.Modulos[i +1].Visivel.Equals(true))
                                    {<p>Ocultar</p> }
                                else
                                { <p>Exibir</p>}
                                </a>

                               
                            <a class="card-footer-item button is-link" asp-controller="Modulos" asp-action="RespProfessor" asp-route-id="@Model.Modulos[i + 1].Id">Acessar Modulo</a>
                            <a class="card-footer-item button is-info" asp-controller="Modulos" asp-action="Details" asp-route-id="@Model.Modulos[i + 1].Id">Detalhes</a>



                            </footer>

                        </article>
                    </div>
                }
            </div>


        }

    </div>

</section>
<div class="columns">
    <div class="column has-text-left">
        <a asp-controller="Modulos" asp-action="Create" class="button is-success">Criar novo módulo</a>
    </div>
 
            <div class="column has-text-right">
                <a asp-action="IndexProfessor" class="button is-danger">Voltar</a>

            </div>


        </div>
