@model ProductsListViewModel

@{
    ViewData["Nome"] = "Index";
}

<form class="field has-addons">
    <div class="control">
        <input type="text" class="input" placeholder="Nome" name="SearchString">
    </div>
    <div class="control">
        <button class="button is-info" type="submit" value="Filter">
            <i class="glyphicon glyphicon-search"></i>
            Pesquisar
        </button>
    </div>
</form>
<table class="table is-striped is-hoverable is-fullwidth ">
    <thead>
        <tr class="is-selected">
            <th>
                Nome
            </th>
           
            <th>
                Área de conhecimento
            </th>
            <th>
                Professor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.AreaConhecimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.FullName)
                </td>
                @{
                    if (User.IsInRole("Aluno"))
                    {
                <td class="has-text-right">
                   
                    <a class="button is-primary" asp-action="EntrarTurma" asp-route-id="@item.Id">Entrar na Turma</a>
                    <a class="button is-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>

                </td>

                    }
                }

            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="pagination-link" page-class-normal="btn-secondary"
     page-class-selected="pagination-link is-current" class="btn-group pull-right m-1">
</div>
