@model IEnumerable<Projeto.Alfa12.Models.Turma>



<h2>Index</h2>

<form>
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCriacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaConhecimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChaveAcesso)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaConhecimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaveAcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.FullName)
            </td>
            @{
        if (User.IsInRole("Aluno"))
        {
            <td>
                <a asp-action="EntrarTurma" asp-route-id="@item.Id">Entrar na Turma</a>

            </td>

        }
            }

        </tr>
}
    </tbody>
</table>
