@model IEnumerable<Projeto.Alfa12.Models.Turma>

@{
    ViewData["Nome"] = "Index";
}
<p>
    <a asp-action="Create" class="button is-success">Novo</a>
</p>
<form>
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table is-striped is-hoverable is-fullwidth ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaConhecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaveAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaConhecimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChaveAcesso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPonto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>  |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a> |
                    <a asp-action="AddAluno" asp-route-id="@item.Id">Adicionar Alunos</a>|
                    <a asp-action="AddModulo" asp-route-id="@item.Id">Adicionar Modulos</a>|
                    <a asp-action="EntrarTurma" asp-route-id="@item.Id">Entrar na Turma</a>

                </td>
            </tr>
        }
    </tbody>
</table>
