@model IEnumerable<Projeto.Alfa12.Models.Turma>

@{
    ViewData["Nome"] = "Index";
}

<h2 class="title">Minhas turmas</h2>

<table class="table is-striped is-hoverable is-fullwidth ">
    <thead>
        <tr class="is-selected">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaConhecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.AreaConhecimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.FullName)
                </td>
                <td class="has-text-right">
                    <a class="button is-primary" asp-action="HomeAluno" asp-route-id="@item.Id">Acessar Turma</a>
                    <!--<a class="button is-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>-->

                </td>
            </tr>
        }
    </tbody>
</table>
